
.mainFxmlClass 
  {
    -fx-background-color: black;
  }

.button
  {
    -fx-background-color:   rgb(20,20,20);
    -fx-text-fill:          white;
    -fx-font-size:          20;
    -fx-border-color:       rgb(50, 50, 50);
    -fx-border-radius:      10px;
    -fx-background-radius:  10px;
  }
  
.smallButton
  {
    -fx-font-size:          14;
    -fx-border-radius:      12px;
    -fx-background-radius:  12px;
  }
  
.mainMenuButton
  {
    -fx-font-size:          30;
    -fx-border-radius:      20px;
    -fx-background-radius:  20px;
    -fx-padding:            5px;
  }

