/*.root
  {
    -fx-font-size:          40px; 
  }*/

.mainFxmlClass 
  {
    -fx-background-color:   black;
  }
  
.label
  {
    -fx-font-size:          40; 
    -fx-text-fill:          white;
  }
  
.content-panel
  {
    -fx-padding:            20px;
  }

.header-label
  {
    -fx-font-size:          60; 
  }
  
.very-small-label
  {
    -fx-font-size:          20; 
  }

.small-label
  {
    -fx-font-size:          28; 
  }

.medium-label
  {
    -fx-font-size:          30; 
  }

.large-label
  {
    -fx-font-size:          50; 
  }

.button
  {
    -fx-background-color:   rgb(20,20,20);
    -fx-text-fill:          white;
    -fx-font-size:          40;
    -fx-border-color:       rgb(50, 50, 50);
    -fx-border-radius:      10px;
    -fx-background-radius:  10px;
  }
  
.button:focused
  {
    -fx-border-color:       rgb(130,130,130);
  }

.smallButton
  {
    -fx-font-size:          28;
    -fx-border-radius:      12px;
    -fx-background-radius:  12px;
  }
  
.mainMenuButton
  {
    -fx-font-size:          60;
    -fx-border-radius:      20px;
    -fx-background-radius:  20px;
    -fx-padding:            5px;
  }
  
.list-view
  {
    -fx-background-color:   rgb(20,20,20);
  }

.list-cell 
  {
    -fx-font-size:          30; 
    -fx-background-color:   transparent;
    /*-fx-padding:            2em 2.5em 2em 2.5em;*/
    -fx-text-fill:          white;
  }
  
.list-cell:even
  {
    -fx-background-color:   rgb(30,30,30);
  }

.artist-icon
  {
    -fx-background-image:       url("contacts-128.png");
    -fx-background-repeat:      no-repeat;
    -fx-background-position:    left center;
    -fx-background-size:        24 24;
    -fx-alignment:              center;    
  }
  
.artist-group-icon
  {
    -fx-background-image:       url("group-128.png");
  }
  
.record-icon
  {
    -fx-background-image:       url("cd-128.png");
    -fx-background-repeat:      no-repeat;
    -fx-background-position:    left center;
    -fx-background-size:        24 24;
    -fx-alignment:              center;    
  }
  
.track-icon
  {
    -fx-background-image:       url("note-128.png");
    -fx-background-repeat:      no-repeat;
    -fx-background-position:    left center;
    -fx-background-size:        24 24;
    -fx-alignment:              center;    
  }
  
.track-index
  {
    -fx-font-size:              20; 
    -fx-alignment:              baseline-right;    
  }
  
.artist-label,
.record-label,
.track-label
  {
    -fx-wrap-text:              true;    
  }
  
.record-duration,
.track-duration
  {
    -fx-font-size:              20; 
    -fx-alignment:              baseline-right;    
    -fx-text-fill:              rgb(200, 200, 200);
  }
  
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:focused:selected,
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected 
  {
    -fx-background-color:   linear-gradient(rgb(95.0, 165.0, 221.0),
                                            rgb(54.0, 124.0, 192.0)),
                            linear-gradient(rgb(116.0, 186.0, 232.0), 
                                            rgb(116.0, 186.0, 232.0) 1.0%, 
                                            rgb(109.0, 178.0, 227.0) 1.0%, 
                                            rgb(59.0, 136.0, 208.0) 100.0%);
    -fx-background-insets:  0.0, 1.0 0.0 1.0 0.0;
    -fx-text-fill:          black;
  }
  
#btUp
  {    
    -fx-padding:             8;
    -fx-background-image:    url("arrow-135-128.png");
    -fx-background-size:     32 32;
    -fx-background-repeat:   no-repeat;
    -fx-background-position: center;   
  }

#btPlay
  {    
    -fx-padding:             8;
    -fx-background-image:    url("play-5-128.png");
    -fx-background-size:     32 32;
    -fx-background-repeat:   no-repeat;
    -fx-background-position: center;   
  }

#btStop
  {          
    -fx-padding:             8;
    -fx-background-image:    url("stop-128.png");
    -fx-background-size:     32 32;
    -fx-background-repeat:   no-repeat;
    -fx-background-position: center;   
  }

#btPause
  {          
    -fx-padding:             8;
    -fx-background-image:    url("pause-128.png");
    -fx-background-size:     32 32;
    -fx-background-repeat:   no-repeat;
    -fx-background-position: center;   
  }

#btRewind
  {          
    -fx-padding:             8;
    -fx-background-image:    url("arrow-69-128.png");
    -fx-background-size:     48 48;
    -fx-background-repeat:   no-repeat;
    -fx-background-position: center;   
  }

#btFastForward
  {          
    -fx-padding:             8;
    -fx-background-image:    url("arrow-44-128.png");
    -fx-background-size:     48 48;
    -fx-background-repeat:   no-repeat;
    -fx-background-position: center;   
  }

  