[Unit]
Description=blueMarine II headless service

[Service]
ExecStart=${tft.deb.binaryDirectory}/${tft.deb.name}/bin/${tft.deb.name}.sh
User=${tft.deb.user}

[Install]
WantedBy=multi-user.target
