[Unit]
Description=blueMarine II headless service

[Service]
ExecStart=/opt/bluemarine2-service/bin/bluemarine2-service.sh
User=bluemarine2

[Install]
WantedBy=multi-user.target
