[Unit]
Description=blueMarine II headless service

[Service]
ExecStart=/opt/bluemarine2-service/bin/bluemarine2-service.sh
#User=bluemarine2 # root is required for multicast networking

[Install]
WantedBy=multi-user.target
