[Unit]
Description=blueMarine II media center for Linux ARM

[Service]
ExecStart=${tft.deb.binaryDirectory}/${tft.deb.name}/bin/${tft.deb.name} --mediacenter
User=${tft.deb.user}

[Install]
WantedBy=multi-user.target
